<h1>Factura de Venta N° {{saleId}}</h1>
<p>Estimado {{customerName}},</p>
<p>Adjuntamos la factura de su compra realizada el {{date}}.</p>
<p>Gracias por su preferencia.</p>
<p>Atentamente,</p>
<p>Distribuidora StocklyWeb</p>
